.home{
    display: flex;
    
    gap:1rem;
}

.homebox{
width: 95%;
margin: auto;

}

.home img{
    width:100%;
    cursor: pointer;
}

.hometopimg{
    margin-top: -25px;
    cursor: pointer;
}
.featured{
    text-align: left;
    font-size: xx-large;
    margin-bottom: 10px;
}

.homemore p{
 color: black;

}
.homemore h1{
    color: black;
    font-size: 50px;
    font-weight: 900;
}
.homemore div{
    font-family: sans-serif;
    line-height: 50px;
    letter-spacing: -4px;
    
}
.homemore button{
background-color: black;
color: white;
width:75px;
height: 33px;
border-radius: 20px;
 }
 .homelast{
    display: flex;
    gap:20px;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom:2rem ;
 }
 .homelast img{
    height:450px;
    margin: auto;
    cursor: pointer;
 }

 @media only screen and (max-width: 1466px) {
     .homelast img{
        height: 350px;
     }
 } 
 @media only screen and (max-width: 1132px) {
    .homelast img{
       height: 300px;
    }
} 
 
 @media only screen and (max-width: 868px) {
    .homelast{
   display: flex;
   flex-direction: column;
    }
   .homemore div{
    font-family: sans-serif;
    line-height: 40px;
    letter-spacing: -4px; 
   }
.homemore h1{
    color: black;
    font-size: 40px;
    font-weight: 900;
}
   }
   
  @media only screen and (max-width: 576px) {
     
   } 